@import'../styles/variables.scss';
// weapp / swan / alipay / h5 / rn / tt
/*postcss-pxtransform h5 eject enable*/
img{
  width: auto;
  height: auto;
  overflow: hidden;
  display:inline-block;
  max-width:100%;
  overflow:hidden;
  margin: 5px 0;
}
/*postcss-pxtransform h5 eject disable*/
// 解决溢出隐藏圆点的问题
view{
  overflow: visible;
}
.list-box{
  padding:20px 16px;
  padding-left: 24px;
  // line-height:1.;
  background:$base_bg;
  font-size: $large_size;
  .item-box{
    position: relative;
    border-left: 2px solid $blue_color;
    margin-left: 4px;
    padding:20px 0;
    padding-left: 26px;
    .left-point{
      position: absolute;
      left: -22px;
      top: 24px;
      border-radius:50%;
      border:8px solid $base_bg;
      .inner-point{
        width:14px;
        height:14px;
        border-radius:50%;
        background:$blue_color;
        border:6px solid #2f4864;
      }
    }
    .time{
      color:$desc_color;
    }
  }
}