@import'./styles/variables.scss';
// 小程序
page{
  height: 100%;
  font-size: $base_size;
  color: $base_color;
  background: $black_bg;
}
// h5
body{
  font-size: $base_size;
  background: $black_bg;
  height: 100%;
  color: $base_color;
}