.user-box{
  text-align: center;
  padding-top: 20%;
  color: #8c99ae;
  font-size: 34px;
  font-weight: bold;
  .logo-box{
    position: relative;
    .ht-image{
      width: 351px;
      height: 462px;
    }
    .logo{
      position: absolute;
      left: 50%;
      top:-10px;
      z-index: 5;
      width: 348px;
      height: 348px;
      background: url('../../images/user/ht_logo.png');
      background-size: 100% 100%;
      position:absolute;
      margin-left:-162px;
    }
  }
  .desc{
    margin-top: 25px;
    line-height: 60px;
  }
}



